
<%- include("partials/header"); -%>
<div class="search_box">
    <form action="" id="form2">
        <div>
            <input type="text" id="search">
            <input type="button" id="submit_form" onclick="checkInput()" value="Submit">
        </div>
    </form>
</div>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>




    <% post.content.reverse().forEach(function(item){ %>
        <div class="post">
        <p> posted by <%=post.name%></p>
         <p> on date <%=item.createdat%> </p>
      <h3> <%=item.title %> </h3>
      <p> <%=item.pcontent %> </p>
          </div>

    <%}) %>
    <br>
    <br>


    <% }) %>




<%- include("partials/footer"); -%>
